*.rbc
*.sassc
.sass-cache
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
*.war
.rbx/*

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# SublimeText project files
/*.sublime-project
/*.sublime-workspace

# Intellij

*.iml
*.ipr
*.iws
.idea/
